html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding-left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-inline: scroll;
  height: 100vh;
  width: 100vw;
  background-color: #3e62a0;
}

canvas {
  position: absolute;
}

.absolute {
  position: absolute;
  top: 70vh;
  display: flex;
}

.input {
  width: 9rem;
  text-align: center;
  height: 1.5rem;
  font-size: 1rem;
  background-color: #1c2c46;
  border: none;
  border-bottom: 2px solid #3e62a0;
  color: white;
  margin: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

.absolute {
  flex-direction: column;
}

.container {
  width: 100%;
  height: 1080px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
